html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    color: white;
    font-family: "xingothic-tc-w4","XinGothic-TC W4","LantingHei TC","Apple LiGothic","Microsoft JhengHei",sans-serif;
}
section .content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}
#about, #member, #schedule {
    min-height: 100%;
}
#about {
    background-color: #5FF1EE;
    text-align: center;
}
#member{
    background-color: #97DD68;
}
#schedule {
    background-color: #EA5160;
}
/* ----- top
 -------- */
    #top nav {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 60px;
        background-color: rgba(0, 215, 254, 0.7);
    }
    #top nav .wrapper {
        width: 100%;
        line-height: 59px;
    }
    #top nav ul {
        list-style: none;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }
    #top nav ul li {
        display: inline;
        color: white;
        margin-right: 5px;
        margin-left: 5px;
        vertical-align: middle;
        border-radius: 5px;
        padding: 10px 25px 10px 25px;
        transition: background-color 300ms linear 0;
    }
    #top nav ul li:hover {
        background-color: rgba(255, 255, 255, 0.35);
    }
    #top nav ul a {
        color: white;
        text-decoration: none;
    }
    #top .intro {
        position: absolute;
        top: 30%;
        left: 38%;
        right: 38%;
        text-align: center;
    }
    #top .intro img {
        width: 200px;
        height: 200px;
        border: 8px solid rgba(255, 255, 255, 0.35);
        transition: border 300ms linear 0;
    }
    #top .intro img:hover {
        border: 13px solid rgba(255, 255, 255, 0.35);
    }
    #top .intro h1, #top .intro h3 {
        color: rgba(255, 255, 255, 0.95);
    }
    #banner {
        width: 100%;
        max-height: 100%;
    }

/* ----- about 
    ------ */
    .memberInfo {
        width: 100%;
        margin: 30px auto;
        color: #fff;
        display: inline-block;
    }
    .memberInfo .memberPhoto {
        width: 20%;
        text-align: center;
        float:left;
    }
    .memberInfo .memberPhoto img {
        height: 150px;
    }
    .memberInfo .memberText {
        width: 70%;
    }
    .memberInfo .memberText h3 {
        font-weight: bold;
    }

/* ----- about
    ------- */
    #about img {
        margin: 30px;
    }
/* ----- schedule
    ------- */
    #schedule table {
        margin: auto;
        max-width: 500px;
    }
    