html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    color: white;
    font-family: "xingothic-tc-w4","XinGothic-TC W4","LantingHei TC","Apple LiGothic","Microsoft JhengHei",sans-serif;
}
section .content {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;


}
#about, #member, #schedule, #enroll, #torchIntro, #transInfo, #top,#qa{
    min-height: 100%;
}
#about {
    background-image:url(../img/bkn.png);
    text-align: center;
    height: 100%;
    overflow: auto;
}
#member{
    background-image:url(../img/bkn.png);
    background-position: top right;
}
#schedule {
    background-color: #7d350c;
    overflow: auto;
}

#enroll{
    background-image:url(../img/bkn.png);
    background-position: bottom center;
    height: 100%;
}

#torchIntro{
    background-image:url(../img/1530x900.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

#transInfo{
    background-image:url(../img/bkn.png);
    background-position: top center;
}

#qa{
    overflow: auto;
    background-color: #660f04;
}
/* ----- top
 -------- */
    #top nav {
        position: fixed;
        z-index: 10;
        width: 100%;
        min-height: 60px;
        overflow: auto;
        background-color: rgba(160, 90, 30, 0.65);
    }

    #footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: rgba(160, 90, 30, 0.65);
  min-height: 20px;
    }

    #top nav .wrapper {
        width: 100%;
        line-height: 59px;
    }
    #top nav ul {
        list-style: none;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }
    #top nav ul li {
        display: inline;
        color: white;
        margin-right: 5px;
        margin-left: 5px;
        vertical-align: middle;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
        transition: background-color 300ms linear 0;
    }
    #top nav ul li:hover {
        background-color: rgba(255, 255, 255, 0.35);
    }
    #top nav ul a {
        color: white;
        text-decoration: none;
    }

    #top .intro {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.35);
        bottom: 10%;
        left: 30%;
        right: 30%;
        text-align: left;
        padding: 20px;
        min-width: 250px;
    }


    #top .intro img {
        width: 200px;
        height: 200px;
        border: 8px solid rgba(255, 255, 255, 0.35);
        transition: border 300ms linear 0;
    }
    #top .intro img:hover {
        border: 13px solid rgba(255, 255, 255, 0.35);
    }
    #top .intro h1, #top .intro h3 {
        color: rgba(255, 255, 255, 0.95);
    }
    #banner {
        width: 100%;
        max-width: 1280px;
        max-height: 100%;
        min-height: 100%;
    }
    #top {
        background-color: #5b1d01;
        text-align: center;

    }

/* ----- about 
    ------ */
    .memberInfo {
        width: 100%;
        margin: 30px auto;
        color: #fff;
        display: inline-block;
    }
    .memberInfo .memberPhoto {
        width: 20%;
        text-align: center;
        float:left;
    }
    .memberInfo .memberPhoto img {
        height: 150px;
    }
    .memberInfo .memberText {
        width: 70%;
    }
    .memberInfo .memberText h3 {
        font-weight: bold;
    }
    #member p{

        color:#ffe706;
    }

/* ----- about
    ------- */
    #about img {
        margin: 30px;
    }
/* ----- schedule
    ------- */
    #schedule table {
        margin-right: 5%;
        margin-left: 5%;
        max-width: 500px;
        width: 40%;
        min-width: 250px;
        float: left;
    }

    #qa .ans{
        color:#ffe721;
    }

    .yello {
        color: #e7d1b6;
    }
    a{
 color: #ffe721;
    }

#video_w{

    height: 50%;
    width: 100%;
}

